#  Example Qudi configuration file.

global:
    # list of modules to load when starting
    startup: [ple_gui, switch_gui, AO_gui, confocal_gui, polarization_optimizer_gui]

    # Module server configuration for accessing qudi GUI/logic/hardware modules from remote clients
    remote_modules_server:
        # The original address belongs to a different machine. Bind locally unless
        # this computer is explicitly configured to serve remote Qudi clients.
        address: '127.0.0.1'
        port: 12345
        certfile: 'C:\Users\yy3\keys\qinu.crt'
        keyfile: 'C:\Users\yy3\keys\qinu.key'

    # Server port for serving the active qudi module namespace locally (localhost).
    # Used by e.g. the Qudi jupyter kernel.
    namespace_server_port: 18861

    # If this flag is set (True), all arguments passed to qudi module APIs from remote
    # (jupyter notebook, qudi console, remote modules) will be wrapped and passed "per value"
    # (serialized and de-serialized). This is avoiding f lot of inconveniences with using numpy in
    # remote clients.
    # If you do not want to use this workaround and know what you are doing, you can disable this
    # feature by setting this flag to False.
    force_remote_calls_by_value: True

    # Qss stylesheet for controlling the appearance of the GUIs.
    # Absolute path or relative to qudi.artwork.styles
    stylesheet: 'qdark.qss'

    # Default root directory for measurement data storage. All eventual data sub-directories should
    # be contained within this directory. This is not enforced, just convention.
    # The fallback directory is <user home>/qudi/Data/
    # default_data_dir: C:\Users\neverhorst\qudi\Data

    # Save data to daily data sub-directories by default
    daily_data_dirs: True

gui:

    polarization_optimizer_gui:
        module.Class: 'polarization_optimizer_gui.PolarizationOptimizerGui'
        connect:
            optimizer: 'polarization_optimizer'


logic:

    polarization_optimizer:
        module.Class: 'polarization_optimizer_logic.PolarizationOptimizerLogic'
        connect:
            mpc: 'mpc320'
            powermeter: 'powermeter'
        options:
            # PM100D channel name from thorlabs_powermeter.py.
            power_channel: 'Power'
            target_power_nw: 2
            lock_threshold_nw: 2
            lock_interval_s: 1.0
            consecutive_bad_reads: 3
            samples: 5
            # Matches the initial coarse pass in Untitled.ipynb.
            coarse_start_angles: [90.0, 90.0, 90.0]
            coarse_step_deg: 10.0
            coarse_timeout_s: 180.0
            optimization_timeout_s: 60.0



hardware:

    mpc320:
        module.Class: 'mpc320.MPC320'
        options:
            kinesis_path: 'C:\Program Files\Thorlabs\Kinesis'
            # Omit serial to use the first MPC320 detected by Kinesis.
            polling_interval_ms: 250
            move_timeout_s: 20.0

    powermeter:
        module.Class: 'powermeter.thorlabs_powermeter.ThorlabsPowermeter'
        options:
            # Device address of the powermeter.
            # If omitted, the module will connect to the first powermeter found on the system.
            # The module logs an info message with the addresses of all available powermeters upon activation.
            # address: 'USB0::0x1313::0x8078::P0012345::INSTR'
            wavelength: 620.0


