# Red Pitaya Dummy Configuration

global:
    startup_modules: ["redpitaya_gui"]

gui:
    redpitaya_gui:
        module.Class: 'redpitaya.redpitaya_gui.RedPitayaGui'
        connect:
            redpitaya_logic: 'redpitaya_logic'

logic:
    redpitaya_logic:
        module.Class: 'redpitaya_logic.RedPitayaLogic'
        options:
            default_duration: 1.0
            default_decimation: 1
        connect:
            redpitaya: 'redpitaya_dummy'

hardware:
    redpitaya_dummy:
        module.Class: 'redpitaya.redpitaya_dummy.RedPitayaDummy'
